body {
  font-family: "Montserrat";
  color: black;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
}

/* Title section  */
#title {
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

.meet1 {
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navitem {
  padding: 0 18px;
}

.navlink {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* containers  */
.container-fluid {
  padding: 7% 15%;
}

/*
sections  */
.colored-section {
  background-color: #ef8172;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* middle section  */
.fas {
  padding: 2rem 2rem;
  color: #ef8172;
  font-size: 3rem;
}

.icon:hover {
  color: #ff4c68;
}

.easytext1 {
  font-size: 1.5rem;
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.easytext2 {
  font-size: 1rem;
  color: #8f8f8f;
}

/* //!-- testimonial Section --!/ */
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 40px;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section  */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }

  .Truelove {
    font-size: 3rem;
  }
}

/* cta section  */
.Truelove {
  font-size: 2.5rem;
}

/* footer section  */
#footer {
  padding: 4rem 0 4rem 0;
}

.fab {
  font-size: 1.5rem;
}

.far {
  font-size: 1.5rem;
}

.social-icon {
  margin: 20px 10px;
}

.copyright {
  padding-top: 2rem;
}
